
.container {
  width: 180px;
  height: 180px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  transform: rotate(60deg);
  gap: 15px;
  padding: 100px;
}

.jogo {
  width: 180px;
  height: 180px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 4px solid #222;
}

.titulo{
  text-align: center;
}

.square {
  border: 2px solid #222;
  background: white;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

}
